/*body > .main-header .logo {
  font-family: "Arial Narrow", "Arial", "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}
*/
.content-wrapper {
  background-color: #ffffff;
}
/* logo */
.skin-blue .main-header .logo {
  background-color: #FFFFFF;
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
  background-color: #FFFFFF;
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
  background-color: #FFFFFF;
}        

#controls {
  /* Appearance */
  background-color: #edeef7;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.45;
  zoom: 0.9;
  transition: opacity 500ms 1s;
  font-size:12px; 
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}
  html {
    font-family: Lato !important;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility; 
  }
/**{
  font-family: Lato !important; 
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility; 
  } */
  .tabbable > .nav > li > a  {background-color: rgb(242, 242, 242);  color:black;  font-weight:bold;} 
  
  .mandatory_star {
    color: red; 
    
  }